tenancy_ocid         = "ocid1.tenancy.oc1..aaaaaaaa..."
user_ocid            = "ocid1.user.oc1..aaaaaaaa..."
fingerprint          = "aa:bb:cc:..."
private_key_path     = "~/.oci/oci_api_key.pem"
region               = "eu-frankfurt-1"
compartment_ocid     = "ocid1.tenancy.oc1..aaaaaaaa..."
availability_domain  = "ZJDo:EU-FRANKFURT-1-AD-2"
subnet_id            = "ocid1.subnet.oc1.eu-frankfurt-1.aaaaaaaa..."
ssh_public_key       = "ssh-rsa AAAA..."
display_name         = "materials-intelligence"
